@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Goldman', cursive;
    font-size: 17px;
    font-weight: bold;
}
#site{
    background-color: #aaa;
}

header{
    background-color: #ccc;
}

nav{
    background-color: rgb(15,27,202);
    grid-area: nav;
}
article{
    background-color: rgb(223,158,196);
    grid-area: article;
}
section{
    background-color: #ddd;
}
footer{
    background-color: rgb(25,200,78);
    grid-area: footer;
}
@media screen and (max-width: 480px){
}

@media screen and (min-width:481px) and (max-width: 899px){
}
